[Unit]
Description=Jenkins Build Server

[Service]
User=jenkins
WorkingDirectory=/home/jenkins
Environment=JENKINS_HOME=/home/jenkins
ExecStart=/usr/bin/java \
    -Djenkins.install.runSetupWizard=false \
    -jar /home/jenkins/jenkins.war

[Install]
WantedBy=multi-user.target

